<div class="flex justify-between items-center h-full">
  <div class="flex items-center gap-5 relative overflow-hidden">
    <picture
      class="h-16 w-16 bg-zinc-800 rounded-md shadow-lg overflow-hidden"
    >
      <img
        [src]="currentMusic().song?.image"
        [alt]="currentMusic().song?.title"
      />
    </picture>

    <div class="flex flex-col">
      <h3 class="font-semibold text-sm block">
        {{ currentMusic().song?.title }}
      </h3>
      <span class="text-xs opacity-80"> {{currentMusic().song?.artists?.join(', ')}} </span>
    </div>
  </div>

  <div class="grid place-content-center gap-4 flex-1">
    <div class="flex justify-center">
      <button class="bg-white rounded-full p-2" (click)="changeStatePlayer()">
        @if (isPlaying()) {
          <PauseIcon />
        } @else {
          <PlayIcon />
        }
      </button>
    </div>
  </div>

  <div class="grid place-content-center">Volumen</div>

  <audio #audioRef></audio>
</div>
